@{
}

<div style="position: absolute; top:0; bottom: 0; right: 0; left: 0; background-color: #262626; z-index:100;"
     class="d-flex justify-content-center align-items-center d-none" id="loadingBanner">
    <img src="~/images/loader.gif" class="rounded-circle" />
</div>

<div class="container">
    <h1>Compiler</h1>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-primary" onclick="scannerAction()">Scanner</button>
            <button class="btn btn-info mx-2">Parser</button>
        </div>
        <div class="d-flex">
            <div class="mx-2">
                <input class="form-control" type="file" id="formFile">
            </div>
            <button class="btn btn-danger" onclick="clearFile()">Clear File</button>
        </div>
    </div>
    <div class="d-flex my-3">
        <button class="btn btn-success" onclick="addComment()" id="btnComment">Comment</button>
        <button class="btn btn-dark mx-2" onclick="deleteComment()">Uncomment</button>
    </div>
    <div class="row">
        <div class="col-1 p-3" style="background-color: rgb(235, 235, 235); font-size: 13.4px;" id="editor_lines">
            <div style="height:21px;">1</div>
        </div>
        <div class="col-5 form-floating">
            <textarea class="form-control p-3 h-100" style="overflow:scroll; white-space: nowrap; min-height: 500px;" id="editor"></textarea>
            @*<div class="form-control p-3 h-100" contenteditable="true" style="overflow:scroll; white-space: nowrap; min-height: 500px;" id="editor"></div>*@
        </div>
        <div class="col-6 form-floating">
            <div class="form-control p-3 h-100" contenteditable="false" id="editorOutput" style="min-height: 500px;"></div>
        </div>
    </div>
</div>

<script>
     var editor = document.querySelector("#editor");
     var lineEditor = document.querySelector("#editor_lines");
     var searchEditor = document.querySelector("#editor_search");
     var fileEditor = document.querySelector("#formFile");

     editor.addEventListener("keyup", () => {
         const code = editor.value;
         //console.log(code);

         // Make Span
         const numberOfLines = code.split("\n").length;
         //console.log(words);

         lineEditor.innerHTML = "";
         for (var i = 1; i <= numberOfLines + 1; i++)
         {
             lineEditor.innerHTML += "<div style='height:20px;'>" + i + "</div>";
         }
     })

     function addComment()
     {
         var startOffset = editor.selectionStart;
         var endOffset = editor.selectionEnd;
         var oldCode = editor.value;
         editor.value = oldCode.slice(0, startOffset) + "</" + oldCode.slice(startOffset, endOffset) + "/>" + oldCode.slice(endOffset, oldCode.length);
     }

     function deleteComment()
     {
         var startOffset = editor.selectionStart;
         var endOffset = editor.selectionEnd;
         var sliceCode = editor.value.slice(startOffset, endOffset);
         editor.value = editor.value = editor.value.replace(sliceCode, "");
         sliceCode = sliceCode.replace("</", "").replace("/>", "");
         editor.value = editor.value.slice(0, startOffset) + sliceCode + editor.value.slice(startOffset, editor.length);
     }

     function clearFile()
     {
        fileEditor.value = "";
     }

     var editor = document.querySelector("#editor");
     var loadingBanner = document.querySelector("#loadingBanner");
     var outputEditor = document.querySelector("#editorOutput");
     var fileCode = "";

     fileEditor.addEventListener('change', function() {
                 var fr=new FileReader();
                 fr.onload=function(){
                     fileCode = fr.result;
                     fileCode = fileCode.replaceAll("\r", "");
                 }
                 fr.readAsText(this.files[0]);
     });

     function scannerAction()
     {
         if (fileCode != "" && fileEditor.value != "")
         {
             scanner(fileCode);
         }
         else
         {
             scanner(editor.value);
         }
     }

     function scanner(codeValue)
     {
         var xhttp = new XMLHttpRequest();
         loadingBanner.classList.remove("d-none");
         xhttp.onload = function() {
            loadingBanner.classList.add("d-none");
             outputEditor.innerHTML = "<div style='color: green;'>" + this.responseText.toString() + "</div>";
         }
         xhttp.open("POST", "ScannerTest/getText", true);
         xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
         xhttp.send("code="+codeValue);
     }
</script>